/* Container */
.star-container {
  
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-sizing: border-box;
}

/* Tabs Box */
.header-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #5561ff;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 0 auto 20px 0;
  width: auto;
  max-width: fit-content;
  min-width: 220px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab-btn {
  padding: 6px 12px;
  background: #d6d6ff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  color: #222;
  transition: background-color 0.3s, color 0.3s;
}

.tab-btn.active {
  background: #5561ff;
  color: #fff;
}

/* Doctor Card */
.doctor-card {
  padding: 20px;
  width: 90% !important;
  height: 480px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background: red; */
  background: rgba(82, 95, 225, 0.10);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
 
}


.doctor-card:hover {
  transform: translateY(-4px);
}

.doctor-img {
  border-radius: 5px;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.doctor-info {
  padding: 10px 0 0 0;
}

.doctor-info h3 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 20px;
  color: #222;
}

.specialty {
  font-size: 13px;
  color: #444;
  margin: 0 0 8px;
}

.hospital {
  font-size: 13px;
  color: #5561ff;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.location-icon {
  color: #5561ff;
}

.expertise {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 8px;
}

.book-btn,
.profile-btn {
  flex: 1;
  background: #ff6b00;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background: #e85a00;
}

.profile-btn {
  background: #ffa500;
}

.profile-btn:hover {
  background: #e69100;
}

/* React Slick overrides */
.slick-slide > div {
  outline: none; /* Remove blue outline on click */
    /* margin: 0 10px;  */
  box-sizing: border-box;
}
.slick-list {
  margin-right: -116px;
   /* cancels out the padding from last card */
}


/* Dots styling */
.slick-dots li button:before {
  font-size: 12px;
  color: #3148ca;
  opacity: 0.8;
}

.slick-dots li.slick-active button:before {
  color: #3216eb;
  opacity: 1;
}

/* Arrows styling */
.slick-prev:before,
.slick-next:before {
  color: #5561ff;
  font-size: 30px;
}

/* Responsive tweaks */
@media (max-width: 900px) {
  .doctor-card {
    height: auto;

  }
}

@media (max-width: 600px) {
  .doctor-card {
    height: auto;
    width: 78% !important;
  }
 
}
