#basicform
{
    display: none;
}
#basicbtn
{
    display: none;
}
#prevbtn
{
    display: none;
}
#projectlabel
{
    color: green;
}
th, td {
    width: 310px;
    text-align:center;
    border:1px solid black;
    padding:5px
}