#sde :hover #r
{
      background-color: red;
}
.lead:hover
{
      background-color: gray;
      cursor: pointer;
}
.personaldetails:hover
{
      background-color: gray;
      cursor: pointer;
}

@keyframes progressBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
