
.topnav #myLinks {
    position: absolute;
    display: none;
    margin-top: 25px;
    margin-left: 4%;
    width: 150px;
    line-height: 1px;
    font-size: 12px;
   
  }
  .topnav a {
    border-radius: 5px;
    font-size: 12px;
    background-color: brown;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  .topnav a:hover
  {
    background-color: rgb(11, 190, 50);
  }
  .left-side-bar
  {
    position: fixed;
    text-align:left;
    width:56px;
    overflow:hidden;
    transition: 0.5s;
  }
  
  .left-side-bar:hover
  {
    width: 280px;
  }
  .main-container
  {
    transition: 0.5s;
    margin-Left:-15%;
  }
  .mtext
  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }
  .header
  {
    transition: 0.5s;
  }
  #myLinks ul {
    list-style-type: none;
    padding: 0;
  }
  
  #myLinks > ul > li {
    position: relative; /* Important for positioning submenu */
  }
  
  .submenu {
    display: none; /* Hide by default */
    position: absolute; /* Position it relative to the parent */
    left: 100%; /* Align to the right of the parent */
    top: 0; /* Align vertically with the parent */
    background-color: white; /* Background for submenu */
    z-index: 1; /* Make sure it appears above other elements */
  }
  
  #myLinks > ul > li:hover .submenu {
    display: block; /* Show on hover */
  }
  
  
  .dropdown-menu li:hover {
    background-color: green;
  }
  
 

  
  
  
 
 


  
 