.lawyer-offcanvas {
  background-color: #f9fbfd;
}

.lawyer-item:hover {
  background-color: #f0f8ff;
  transition: background-color 0.2s ease;
}

.tab-content-section p {
  font-size: 15px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px;
}
